---
import Layout from '../../layouts/Layout.astro'
import PlotFigure from '../../components/PlotFigure.astro'
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";

 const penguinsAdelie = penguins.filter(({species})=>species==="Adelie")
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
    <a href ="/" class="text-blue-500 underline">Retour à l'accueil</a>
  <select id="species">
<option value="Adelie">Adelie</option>
<option value="Chinstrap">Chinstrap</option>
<option value="Gentoo">Gentoo</option>
</select>
<script>
document.querySelector("#species")?.addEventListener("change", (evt) => {
const value = (evt.target as HTMLSelectElement).value;
location.pathname = "/species/" + value;
});
</script>
  <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsAdelie, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
</Layout>
